services:
  redmine:
    build: .
    networks:
      - redmine_pjs_net
    environment:
      - REDMINE_DB_POSTGRES=db
      - REDMINE_DB_DATABASE=redmine
      - REDMINE_DB_PASSWORD=${DB_PASSWORD}
      - REDMINE_SECRET_KEY_BASE=${REDMINE_SECRET_KEY}
      - TZ=Asia/Seoul
    volumes:
      - redmine_files:/usr/src/redmine/files
      - redmine_plugins:/usr/src/redmine/plugins
      - redmine_themes:/usr/src/redmine/public/themes
    command: >
      sh -c "/docker-entrypoint.sh bundle exec rake redmine:plugins:migrate RAILS_ENV=production && 
             /docker-entrypoint.sh rails server -b 0.0.0.0"
    depends_on:
      - db
    restart: always

  db:
    image: postgres:18.1
    networks:
      - redmine_pjs_net
    environment:
      - POSTGRES_USER=redmine
      - POSTGRES_DB=redmine
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      # DB 초기화 시 한국어 로케일 강제 적용
      - POSTGRES_INITDB_ARGS=--locale=ko_KR.UTF-8
      - TZ=Asia/Seoul
    volumes:
      # Postgres 18+ 대응: /data를 떼고 상위 폴더 마운트
      - db_data:/var/lib/postgresql 
    restart: always

networks:
  redmine_pjs_net:
    driver: bridge

volumes:
  db_data:
  redmine_files:
  redmine_plugins:
  redmine_themes: